body,html{
    scroll-behavior: smooth;
}
.background{
    background-image: url(https://wallpaperaccess.com/full/3787565.jpg);
    background-size: cover ;
}

.Home-content{
    width: 60%;
    height: 60%;
    background-color: #5DA7DB;
    box-shadow: #3CAEE2;
    border: 4px #204E7E outset;
    

}
.close-btn,.navbtn,.nav-items a{
    cursor: pointer;

}
input[type = "checkbox"] {

    display: none;
    visibility: hidden;
  }
  
  .bar {
    position: relative;
    cursor: pointer;
    width: 50px;
    height: 40px;
    margin-left: 1rem;
    top: 5%;
  }
  
  .bar span {
    position: absolute;
    width: 45px;
    height: 7px;
    background: #f1faee;
    border-radius: 100px;
    display: inline-block;
    transition: 0.3s ease;
    left: 0;
  }
  
  .bar span.top {
    top: 0;
  }
  
  .bar span.middle {
    top: 17px;
  }
  
  .bar span.bottom {
    bottom: 0;
  }
  
  input[type]:checked ~ span.top {
    transform: rotate(45deg);
    transform-origin: top left;
    width: 48px;
    left: 5px;
  }
  
  input[type]:checked ~ span.bottom {
    transform: rotate(-45deg);
    transform-origin: top left;
    width: 48px;
    bottom: -1px;
    box-shadow: 0 0 10px #495057;
  }
  
  input[type]:checked ~ span.middle {
    transform: translateX(-20px);
    opacity: 0;
  }

.mynav{
    width: 250px;
    height: 100vh;
    left: -250px;
    
}
.close-btn{
    left: 80%;
    top: 5%;
    font-size: 25px;
    color: white;
}
.close-btn :hover{
    color: rgba(214, 46, 51, 0.4);
    }
.nav-items{
    top: 7%;
}
.nav-items a {
    text-decoration: none;
    display: block;
    padding: 20px 8px 20px 30px;
    color: white;
    font-size: 18px;
    transition: 0.5s all;
}
.nav-items a:hover{
    color: rgba(214, 46, 51, 0.4);
}

/* *********************************************** */
.sec2 {
    padding: 11rem 0rem;
}
.sec3{
    padding: 0rem 0rem 11rem 0rem;
}
.col-md-12 h3{
    padding: 10px;
    margin: 0;
    /* background-color: rgba(214, 46, 51, 0.6); */
    background-color: #1E738F;
    cursor: pointer;
    color: white;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.1;
    width: inherit;
}
.instructor-info{
    width: inherit;
    display: none;
    background-color:#5DA7DB;
    font-weight: bold;
    padding: 1rem 1rem;
}
/* ***************************************************** */

.join-us{
    height: 330px;
    background-image: url(../images/invitation-2508607__340.jpg);
    background-size: cover;
    position: sticky;
    
}
.mylayer{
    background-color: #39b0eb8a;
    
}

#countdown li{

    margin: 0px 7px;
}
#countdown li span{

    padding: 1rem;
}
#countdown{
    margin-top: 5rem;

}
ul#countdown li span::before {
    top: 50%;
    width: 80%;
}
/* ****************************************************** */

.head h2{
    text-transform: uppercase;
    font-size: 35px;
    color: #444;
    font-weight: bold;
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.head p{
    color: #777;
    font-weight: 300;
    font-size: 16px;
    margin: 0 0 10px;
    line-height: 1.42857143;
    font-family: Arial, Helvetica, sans-serif;

}

.contact h3{
    color: #444;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 10px;
    line-height: 1.1;
    font-family: Arial, Helvetica, sans-serif;
}
.contact p{
    font-size: 16px;
    line-height: 26px;
    color: #777;
    margin: 0 0 10px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

}



.icons p{
    margin-bottom: 35px;
    font-size: 16px;
    line-height: 26px;
    color: #777;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

}
.social{
    margin-top: 60px;
    color: #777;
    text-align: center;
}

.social i{
    margin-right: 24px;
    border: 1px solid #999;
    width: 40px;
    height: 40px;
    line-height: 42px;
    cursor: pointer;
    text-align: center;
    color: rgb(108,117,125);
    font-size: 1.33333333em;
}
.social i:hover{
    background-color: #dc3545;
    color: white;
}
form .my-input {
    margin-bottom: 20px;
    border-radius: 0 !important;
    height: 46px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;

}
form textarea{
    height: 200px;
    resize: vertical;
    margin-bottom: 20px;
    border-radius: 0 !important;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
}


@media only screen and (max-width: 900px ) {
    .Home-content{
        width: 80%;
        height: 70%;
    }
    #countdown li span{

        padding: -1rem !important;
        font-size: 2rem !important;
    }
    #countdown li{

        margin: 0px -7px;
    }
    
}